/.vscode/*
/BSTint/.vscode/*
/searches/.vscode/*
/sortLab

/searches/searchMethods/bin/*
/searches/searchMethods/obj/*

/searches/searchMethods.Tests/bin/*
/searches/searchMethods.Tests/obj/*

/searches/searchMethods.ArrayGenerator/bin/*
/searches/searchMethods.ArrayGenerator/obj/*

/searches/searchMethods.Extensions/bin/*
/searches/searchMethods.Extensions/obj/*

/graphs/.idea/*
/graphs/graphs/bin/*
/graphs/graphs/obj/*

/graphs/graphs.Tests/bin/*
/graphs/graphs.Tests/obj/*

/graphs/graphs.Floyd/bin/*
/graphs/graphs.Floyd/obj/*

