/.vscode/*
/BSTint/.vscode/*
/searches/.vscode/*
/sortLab
/searches/searchMethods/bin/*
/searches/searchMethods/obj/*
/searches/searchMethods.Tests/bin/*
/searches/searchMethods.Tests/obj/*
/searches/searchMethods.ArrayGenerator/bin/*
/searches/searchMethods.ArrayGenerator/obj/*
