/.vscode/*
/BSTint/.vscode/*
/searches/.vscode/*
/sortLab

/**/bin/
/**/obj/
/**/.idea/

/searches/searchMethods/bin/*
/searches/searchMethods/obj/*

/searches/searchMethods.Tests/bin/*
/searches/searchMethods.Tests/obj/*

/searches/searchMethods.ArrayGenerator/bin/*
/searches/searchMethods.ArrayGenerator/obj/*

/searches/searchMethods.Extensions/bin/*
/searches/searchMethods.Extensions/obj/*

/graphs/.idea/*
/graphs/graphs/bin/*
/graphs/graphs/obj/*

/graphs/graphs.Tests/bin/*
/graphs/graphs.Tests/obj/*

/graphs/graphs.Floyd/bin/*
/graphs/graphs.Floyd/obj/*

/graphs/graphs.SpanningTree/bin/*
/graphs/graphs.SpanningTree/obj/*

/graphs/graphs.Searches/bin/*
/graphs/graphs.Searches/obj/*

/graphs/graphs.Utils/bin/*
/graphs/graphs.Utils/obj/*

/graphs/graphs.ShortestPaths/bin/*
/graphs/graphs.ShortestPaths/obj/*

/graphs/graphs.ADT/bin/*
/graphs/graphs.ADT/obj/*


/HuffmanCodes/HuffmanCodesCSharp/bin/*
/HuffmanCodes/HuffmanCodesCSharp/obj/*

/HuffmanCodes/HuffmanCodesCSharp.Tests/bin/*
/HuffmanCodes/HuffmanCodesCSharp.Tests/obj/*

/graphs#extra/GraphSearch/DepthFirstSearch/bin/*
/graphs#extra/GraphSearch/DepthFirstSearch/obj/*

/graphs#extra/GraphSearch/Graph/bin/*
/graphs#extra/GraphSearch/Graph/obj/*

/graphs#extra/GraphSearch/GraphBuilder/bin/*
/graphs#extra/GraphSearch/GraphBuilder/obj/*

/graphs#extra/GraphSearch/GraphSearch/bin/*
/graphs#extra/GraphSearch/GraphSearch/obj/*

/NPheuristics/GraphColoring/GraphColoring/bin/*
/NPheuristics/GraphColoring/GraphColoring/obj/*

/NPheuristics/GraphColoring/GraphColoring.Apps/bin/*
/NPheuristics/GraphColoring/GraphColoring.Apps/obj/*

/NPheuristics/GraphColoring/GraphColoring.GraphBuilder/bin/*
/NPheuristics/GraphColoring/GraphColoring.GraphBuilder/obj/*

/NPheuristics/GraphColoring/GraphColoring.Test/bin/*
/NPheuristics/GraphColoring/GraphColoring.Test/obj/*

/TuringMachines/TuringMachines/bin/*
/TuringMachines/TuringMachines/obj/*
/TuringMachines/TuringMachines/.idea/*

/**/__pycache__/*
